
* {
  box-sizing: border-box;
} 

.home-page-section {
  margin-top: 4rem;
  background-color: #f5f1ed;
}

.homepage-layout {
  display: flex;
  justify-content: center;
  height: 375px;
  img {
    width: 450px;
    margin: 40px 20px;
    height: auto;
  }
}

.loader {
  width: 50%;
  margin: 0 auto;
}

// h2 { 
//   font-family: "Gill Sans"; 
//   font-size: 18px; 
//   font-style: normal; 
//   font-variant: normal; 
//   font-weight: 100; 
//   line-height: 27px; 
// }

#root > section > div.hero > div.homepage-layout > div.HeroCarousel_wrapper__2J_Tt {
  margin-left: 150px;
}

.headers {
  width: auto;
  margin: 40px 200px 40px 0px;
  text-align: center;
  color: #012349;
  h1 {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 400;
  }
  .homepage-buttons {
    width: 200px;
    margin: 10px auto;
    margin-bottom: 20px;
    
    .sign-up-button {
      background-color: white;
      color: #012349;
      font-family: 'Avenir', Helvetica, sans-serif;
      font-weight: 100;
    }
    .sign-up-button:hover {
      background-color: #012349;
      color: white;
      font-family: 'Avenir', Helvetica, sans-serif;
      font-weight: 100;
    }
    .login-button {
      margin-top: 20px;
      background-color: white;
      color: #012349;
      font-family: 'Avenir', Helvetica, sans-serif;
      font-weight: 100;
    }
    .login-button:hover {
      background-color: #012349;
      color: white;
      font-family: 'Avenir', Helvetica, sans-serif;
      font-weight: 100;
    }
  }
  h4 {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
  }
  h5 {
    text-align: center;
    line-height: 1.5;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
  }
}

.homepage-second-layer {
  color: #012349;
  display: flex;
  flex-direction: row;
  margin: 20px;
  line-height: 1.5;
  h5 {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
  }
  .home-reviews {
    margin: 70px 5px;
    width: 1000px;
    line-height: 1.5;
    text-align: center;
    h2 {
      font-family: 'Avenir', Helvetica, sans-serif;
      font-weight: 400;
    }
  }
  .users-index {
    width: 1000px;
  }

}


.users-index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;

  img {
    border-radius: 80px;
    height: 50px;
    width: auto;
  }
}


.featured-container-section {
  color: #012349;
  margin-top: 2rem;
  h2 {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 43%;
  }
}

hr {
  margin: 0 2rem;
  color: #012349;
}

.hr {
  margin-top: 60px;
  color: #012349;
}
