.home-page-section {
  height: 200vh;
  background-color: #f5f1ed;;
}

.hero {
  margin-left: 1rem;
  margin-top: 4rem;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;


  img {
    width: 100%;
    height: auto;
    margin-top: 2%;
    // box-shadow: 0px 0px 20px;
  }
}

.homepage-layout {
  margin: 0 1rem;
  margin-bottom: -10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel {
  display: flex;
  justify-content: right;
  width: 100%;
}

.headers {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem;
  margin-top: 6rem;
}

#root > section > div > div > div.carousel > div {
  width: 100%;
}

#root > section > div > div > div.carousel > div > div {
  width: 100%;
}

.homepage-buttons {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 50%;
}

.login-button {
  margin: -3rem auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 50%;
}

.header-comment {
  margin-top: 6rem;
}

homepage-second-layer {
  display: flex;
}

.users-index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2rem;
  // margin-right: auto;
  margin-left: auto;
  width: 45%;
  justify-content: space-around;
  // align-items: left;

  img {
    border-radius: 80px;
    height: 50px;
    width: auto;
  }
}

.home-reviews {
  // margin-left: 60rem;
  // margin-right: 2rem;
  // margin-top: -13.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  width: 50%;
  // margin-left: auto;
  margin-right: auto;
  margin-top: -16%;
  h2 {
    margin: 0 auto;
  }
}

.featured-container {
  margin-top: 2rem;
  h2 {
    margin: 0 42%;
  }
}

hr {
  margin: 0 2rem;
  color: #012349;
}

.hr {
  margin-top: 60px;
}

.property-types {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  border: 5px solid black;
  height: 700px;
  background-color: white;
  color: black;
  padding: 10px;
}

// .types-grid-div {
//   height: 350px;
//   width: 100%;
//   margin: 20px;
//   img { 
//     height: 250px;
//     width: 400px;
//   }
//   p {
//     font-family: 'Playfair Display', serif;
//     color: black;
//     margin: 1px;
//   }
// }