

.index-container {
  margin: auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f1ed;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
  h1 {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
    color: #012349;
  }
}


div .ui.menu.index-page {
  display: flex;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
}

.index-menu-banner {
  width: 100%;

  .search {
    padding: 10px;
  }
  h1 {
    margin: 0;
    text-align: center;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
  }
}


// Grid of Properties

.index-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1500px;
  max-width: 100%;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
}

.index-grid-div {
  height: 350px;
  width: 100%;
  margin: 20px;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
  img { 
    height: 250px;
    width: 400px;
  }
  p {
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
    color:#012349;
    margin: 1px;
  }
}

// House Details on each Grid 

.index-grid-house-info {
  display: flex;
  width: 400px;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
  .house-name-details {
    width: 200px;
    p {
      font-family: 'Avenir', Helvetica, sans-serif;
      font-weight: 100;
    }
  }
  .house-details {
    width: 200px;
    margin-left: auto;
    order: 2;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
    p {
      text-align: right;
      font-family: 'Avenir', Helvetica, sans-serif;
      font-weight: 100;
    }
  }
}


.bedrooms, .bathrooms {
display: flex;
margin-left: 92px;
// padding: 2px;
p {
  // margin-left: 1px;
  text-align: right;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
}
}

.index-icon {
  color: #012349;
}

// User Info on each grid

.index-user-info {
  display: flex;
  width: 400px;
  margin-top: 10px;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
  p {
    margin-top: 10px; 
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
  }
}

.index-owner-details {
  display: flex;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
  p {
    margin-top: 10px;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
  }
}

.user-profile-image {
  margin-right: 5px;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 100;
  img {
    height: 30px;
    width: 30px;
    border-radius: 100%
  }
}

// @media only screen and (max-width: 880px) {
//   .index-grid {
//     width: 900px;
//   }
//   .index-grid-div {
//     width: 400px;
//     margin: 15px;
//     img { 
//       height: 250px;
//       width: 400px;
//     }
// }
// }

#root > div.index-container > div.index-menu-banner > div > div.ui.icon.input.search-button {
  margin: 15px;
  width: 300px;
  
}