.login-container {
  background-color: #012349;
  // margin-top: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1, p {
    color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 400;
  }
}

.login-section {
  width: 350px;
  height: 400px;
  display: flex;
  border: white 0.2px solid;
  border-radius: 3%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px white solid;
  .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    margin: 20px;
    text-align: center;
  }
}

.field input.login-input {
  width: 250px;
}


.ui.message .header+p {
 color: #912d2b;
}