@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.logo-header {
  color: white;
  a {
    color: white;
    font-family: 'Playfair Display', serif;
  }
}

.navbar-item {
  margin-left: 20px;

}