

.register-container {
  margin-top: -4rem;
  background-color: #012349;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1, p {
    color: white;
  }
}

.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px white solid;
}
