.register-container {
  background-color: #012349;
  height: 100vh;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 400;
  }
  p {
    color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 100;
  }
}

.register-section {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px white solid;
}

//errors

.border-error {
  border-color: red;
}

.error-message {
  color: darkred;
  margin: 0;
  font-size: 0.8rem;
  text-align: left;
}
