

.register-container {
  background-color: #012349;
  // height: 150vh;
  display: flex;
  // align-items: center;
  justify-content: center;
  h1, p {
    color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 400;
  }
}

.register-section {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  // border: 1px white solid;
}
