@import '_register.scss';
@import '_login.scss';
@import '_index.scss';
@import '_indexmap.scss';
@import '_navBar.scss';
@import '_showpage.scss';
@import '_homepage.scss';
@import '_registerProperty.scss';

* {
  box-sizing: border-box;
} 


// Universal
.container {
  background-color: cornsilk;
  width: 90vw;
  margin: 6rem auto 0 auto;
}

// Navbar
div .ui.menu.fixed {
  background-color: #012349;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  margin: auto;
  color: white;
}

#root > div.ui.menu.fixed > a:nth-child(1) > div, #root > div.ui.menu.fixed > a:nth-child(2) > div{
  color: white;
}

#root > div.ui.menu.fixed > div.right.item {
  margin: 0;
}

img {
  height: 250px;
  width: 400px;
}

.register-container {
  background-color: #012349;
}